<div>
  <p><%= CGI.escapeHTML(@memo['title']) %></p>
  <p><%= CGI.escapeHTML(@memo['content']).gsub("\n", '<br>') %></p>
</div>
<div class="button-container">
  <form class="edit-form" action="/memos/<%= @memo['id'] %>/edit" method="get">
    <input type="submit" value="Edit">
  </form>
  <form class="delete-form" action="/memos/<%= @memo['id'] %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
  </form>
</div>
<div class="back-button">
  <a href="/memos" role="button">Back</a>
</div>
