<form action="/memos/<%= params[:id] %>" method="post">
  <label for="title">title</label><br>
  <input type="text" name="title" value="<%= CGI.escapeHTML(@memo['title']) %>">
  <p>
    <label for="content">content</label><br>
    <textarea name="content" cols="40" rows="8"><%= CGI.escapeHTML(@memo['content']).gsub("\n", '<br>') %></textarea>
    <input type="hidden" name="_method" value="patch">
    <input type="submit" value="Go">
  </p>
</form>
