<ul>
  <% @memos.each do |memo| %>
    <li>
      <a class="memo-link" href="/memos/<%= memo['id'] %>">
        <span><%= CGI.escapeHTML(memo['title']) %></span>
      </a>
    </li>
  <% end %>
</ul>
<div>
  <a class="new-memo-button" href="/memos/new">New</a>
</div>
