<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>MemoApp</title>
</head>

<body>
  <h1 style="font-size:40px; color:HotPink;">MemoApp</h1>
  <hr>
  <%= yield %>
</body>

</html>
