<form action="/memos" method="post" class="memo-form">
  <p>
    <label for="title">title</label><br>
    <input required type="text" name="title" id="title" class="form-input">
  </p>
  <p>
    <label for="content">content</label><br>
    <textarea name="content" id="content" class="form-textarea" cols="40" rows="8"></textarea>
    <input type="submit" value="Go" class="form-button">
  </p>
</form>
