<form action="/memos" method="post">
  <label for="title">title</label><br>
  <input required type="text" name="title">
  <p>
    <label for="content">content</label><br>
    <textarea name="content" cols="40" rows="8"></textarea>
    <input type="submit" value="Go">
  </p>
</form>
