<form action="/memos/new" method="post">
<label for="title">title</label><br>
<input type="text" name="title" style="width:150px; height:30px;">
<p>
<label for="content">content</label><br>
<textarea name="content" style="width:300px; height:200px;" cols="40" rows="8"></textarea>
<input style="color:Fuchsia;" type="submit" value="Go">
</p>
</form>
